/* Work Sanse font from google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.nav-container,
.logo-container,
.nav-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 300px;
    padding-left: 300px;
    background-color: #FFFFFF;
    margin: 0px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container p {
    font-size: 45px;
}

.gamer-container {
    Copy text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}

.gamer-section {
    color: #FF42A5
}

.logo-container img {
    width: 86.041px;
    height: 40px;
    object-fit: cover;
}

.nav-item-container>ul {
    display: flex;
    align-items: center;
}


.nav-item-container>ul>li {
    list-style: none;
    margin-right: 32px;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;

}

.follow-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 24px;
}

/* nav design ends here */


/* Just simple banner section starts here */
.banner-container {
    margin: 10px auto 0;
    /* padding: 40px 240px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;


}

.banner-btn-1 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFFFFF;
    border-style: none;
}

.banner-btn-2 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFFFFF;
    border-style: none;
}

.banner-container h2 {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    margin-bottom: 25px;

}

.banner-tag {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 0;
}

/* Just simple banner section ends here */

/*Funny videos section starts here */
.Funny-videos-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center
}

.Funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.Funny-videos-text {
    text-align: center;
    color: #534C64;
    margin-top: 20px;
    margin-bottom: 20px;
}

.videos-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border: 1px solid red; */
    max-width: 1400px;
    margin: 0 auto;
    min-height: 400px;

}

.icon-section-container .card:hover {
    cursor: pointer;
    color: #FF42A5;
    transition: 0.5s;
    border-radius: 50px
}

.videos-card-container .card h2 {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

/* Funny videos section ends here */

/* play instantly section started */
.play-instantly-container {
    max-width: 1400px;
    margin: 0 auto;
    min-height: 400px;
}

.play-instantly-content {}

.play-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
}

.play-content {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.play-instantly-title {
    text-align: left;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.play-instantly-content {
    padding-left: 8rem;
}

.play-instantly-img {
    margin-left: 240px;
}

.paly-badge-img {
    position: relative;
    bottom: 265px;
    right: 145px;
}

.play-instantly-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 120px;
    margin-bottom: 120px;
}

/* play instantly section ended */


/* many icon section starts */
.icon-section,
.icon-section-container,
.btn-img {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    width: 1920px;
    height: 427px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1400px;
    margin: 0 auto;
    min-height: 400px;

}


/* many icon section ends */

/* footer content starts here */
footer {
    background: #0B0223;
}

.footer-container {
    width: 100%;
    padding: 70px 30px 20px;
}


.footer-logo-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-logo img {
    margin-right: 20px;
    width: 86px;
    height: 40px;
    justify-content: center;
    
  
}

.footer-g-tag {
    color: #FF42A5;
    font-size: 45px;
    font-weight: 700;

}

.footer-amar-tag {
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}

.footer-navigation {
    display: flex;
    justify-content: center;
}

.footer-navigation ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-navigation a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
}

.social-icon {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon a {
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.footer-bottom-nav {
    display: flex;
    justify-content: center;
}

.footer-bottom-nav ul {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    padding-top: 18px;
}

.footer-bottom-nav ul a {
    text-decoration: none;
    gap: 60px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
    margin: 10px;

}

.footer-content {
    display: flex;
    justify-content: center;
    padding-bottom: 130px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

/* footer content ends here */